Repository EasyMile/postgresql-operator, pull requests merged in 2020-02, with the labels that each got.

#2 Travis CI
  .travis.yml
Labels: enhancement

#5 Actions
  .github/labeler.yml
Labels: actions, size/XS

#6 chore: Release 1.0.0
  CHANGELOG.md
  deploy/olm-catalog/postgresql-operator/1.0.0/postgresql-operator.v1.0.0.clusterserviceversion.yaml
  deploy/olm-catalog/postgresql-operator/1.0.0/postgresql.easymile.com_postgresqlusers_crd.yaml
  deploy/operator.yaml
  version/version.go
Labels: documentation, size/M

#7 fix(chart): Add forgotten variable for watch namespace in default values
  deploy/helm/postgresql-operator/values.yaml
Labels: size/XS

#8 docs: Fix examples for duration
  deploy/examples/user/full.yaml
  docs/crds/PostgresqlUser.md
Labels: documentation, size/XS
